FLASK_ENV=development
FLASK_APP=run.py

SECRET_KEY=placeholder

MYSQL_ROOT_PASSWORD=placeholder
MYSQL_DATABASE=placeholder
MYSQL_USER=placeholder
MYSQL_PASSWORD=placeholder

DATABASE_URL=mysql+pymysql://campus_user:bobo123@localhost:3306/campus_lite