FLASK_ENV=development
FLASK_APP=run.py

SECRET_KEY=placeholder

DB_HOST=db
DB_PORT=3306
DB_ROOT_PASSWORD=placeholder
DB_DATABASE=campus_lite
DB_USER=placeholder
DB_PASSWORD=placeholder

DATABASE_URL=mysql+pymysql://campus_user:campus_pw@db:3306/campus_lite